@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar */
.c-scroll::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 7px;
}

/* Track */
.c-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
.c-scroll::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll handle */
}

/* Handle on hover */
.c-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateY(-10%);
}

.carousel .carousel__prev,
.carousel .carousel__next {
  display: none;
}
